*{
    box-sizing: border-box;
}

.header-section{
    text-transform: capitalize;
}
.question-itself{
    text-transform: uppercase;
    font-weight: lighter;
}
.answer-section{
    font-weight: normal;
    display: none;
}
.show-answer{
    display: block;
}
.hide-answer{
    display: none;
}

ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
}