*{
    box-sizing: border-box;
}

.header-section{
    text-transform: capitalize;
    text-align: center;
    background-color: coral;
    height: 4rem;
}
.question-itself{
    text-transform: uppercase;
    font-weight: lighter;
    border-style: solid;
    border-color: darkgrey;   
    border-width: thin 24px;
}
.answer-section{
    font-weight: normal;
    display: none;
}
.show-answer .answer-section {
    display: block;
}
.hide-answer{
    display: none;
}

ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    margin-left: 20rem
}

@media screen and (max-width: 750px){
    ul{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 750px){
    .header-section{
        background-color: coral;
        height: 6rem;
    }
}